
.dmView {
    display: flex;
    justify-content: space-between;
    font-family: 'Bitter', serif;
    height: 100vh;
    background-image: url('../pics//dmViewPaperBack.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.searchBar {
    width: 95%;
}

.column {
    position: relative;
    width: 24%;
    height: 97vh;
    border: 2px solid #7f7977;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box; /* Include border and padding in the element's total width and height */

}

.columnBorder {
    background-color: #f8f2d3;
    color: #822000;
}

.monsterSearch {
    max-height: 85vh;
    overflow-y: scroll; 
    border: 1px solid #ccc 
}

.monsterSearchList {
   padding: 0px;
}

.monsterSearchItem {
    position: relative;
    width: 95%;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.1s ease;

}

.monsterSearchIcon {
    width: 50px;
}

.monsterSearchSource {
    font-size: 12px;
    font-style: italic;
}


.encounterCreaturesList {
    padding: 0px;
    overflow-y: scroll;
    height: 100%;
}

.encounterCreaturesNoItemsContainer {
    margin-top: 25%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encounterCreaturesNoItems {
    display: contents;
    padding-top: 5%;
    border-bottom: 1px solid #ccc;
    color: rgb(0, 0, 0);
    transition: background-color 0.2s ease;
}

.encounterCreaturesListItem {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    transition: background-color .1s ease;
}

.submitButton {
    padding: 0px;
    border: 0px;
    background-color: #00000000;
    cursor: pointer;
}


.monsterSearchItem:hover,
.encounterCreaturesListItem:hover {
    background-color: rgb(186, 186, 186);
}

.encounterCreaturesListItem:hover .encounterCreatureX {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.encounterCreaturesHp {
    color: rgb(27, 204, 48);
}

.encounterCreatureX {
    opacity: 0;
    position: relative;
    right: 0px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-weight: bolder;
}

.encounterTitleEditInput {
    width: 90%;
    margin: 0px;
    padding: 0px;
    background-color: #00000000;
    color: #822000;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

@keyframes grow {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.animated-box {
    animation: slideUp 0.5s ease-out forwards;
    /* Initial position for the slide up effect */
    transform: translateY(200%);
}
  
.animated-label {
    display: inline-block; /* Ensure the label scales correctly */
    animation: grow 0.3s ease-in-out forwards;
}

input {
    margin-top: 10px; 
}

.encounterTitleContainer {
    margin-top: 10%;
}

.titleLabel {
    color: grey;
    font-weight: bold;
}
    

.encounterTitleEditContainer {
    position: relative;
    display: flex;
    width: 90%;
}

.encounterTitle {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    align-items: flex-end;
    font-size: large;
}

.encounterTitleEdit {
    visibility: hidden; 
}

.encounterTitle:hover + .encounterTitleEdit,
.encounterTitleEdit:hover {
    visibility: visible; 
    cursor: pointer;
}

.titleFontFamily {
    font-family: "Spectral SC", serif;
    margin-bottom: 0px;
}

.statBlock {
    display: flex;
    flex-direction: column;
    background-color: #f8f2d3;
    border-radius: 10px;
    color: #822000;
    height: 100%
}

.statBlock p, h1, h5 {
    margin: 3px;
}

.statBlock:hover .statblockX {
    visibility: visible;
}

.textShadow {
    text-shadow: -.5px .5px 0px #000000;
                
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 3% 3% 3% 3%;
    height: 100%;
    width: 100%;
    box-sizing: border-box; /* Include border and padding in the element's total width and height */

}

.statblockX {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgb(186, 186, 186);
    cursor: pointer;
    visibility: hidden;
    z-index: 1;
}

.lineSeperator {
    position: relative;
    border: none; /* Remove default styling */
    border-top: 2px solid #822000; /* Change color and thickness */
    width: 100%; /* Set the width to 50% of the parent container */
    margin: 0px;
}


.creatureName {
    position: relative;
    margin-left: 0px;
    font-size: 25px;
    top: 5px;
    color: #822000;
}


.infoTitle {
    position: relative;
    margin-left: 0px;
    font-size: 20px;
    top: 5px;
}

.topCard {
    position: relative;
    align-items: center; /* Center vertically */
    background-color: #ffffff00;
    width: 100%;

}

.topInfo {
    position: relative;
    height: 100%;
}

.img {
    position: absolute; /* Position absolutely to fill the container */
    top: 50%; /* Center image vertically */
    left: 50%; /* Center image horizontally */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container, stretching if necessary */
    object-position: center; /* Center the image */
    transform: translate(-50%, -50%); /* Offset to center the image */
    opacity: .3;
}

.source {
    font-size: 11px;
    color: black;
}

.creatureType {
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
}

.stickyStatGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    margin-bottom: 15px;
}

.stickyStatItem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.extraInfo {
    font-style: italic;
    font-size: 12px;
}

.skillGridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr)); /* Flexible columns */
    gap: .5%; /* Space between grid items */
    width: 100%;
}

.skillGridHeader {
    text-align: center;
    background-color: #f4f4f4;
    padding-bottom: 2%;
    width: 100%;
    font-size: .66vw; /* Responsive font size */
}

.skillGridItem {
    background-color: #e0e0e0;
    text-align: center;
    font-size: .8vw; /* Responsive font size */
}

.skillGridItem span {
    font-size: .5vw; /* Responsive font size */
}
.statBlockScroll {
    padding-top: 1%;
    overflow-y: scroll; 
}

.actionInfo {
    margin-top: 8px;
    margin-bottom: 8px;
}

.shadowBox {
    background-color: #fff; /* Background color of the div */
    border: 1px solid #ddd; /* Optional: border for the div */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Bottom shadow */
}

  /* Style the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    border-radius: 2px; /* Round the track */
}

::-webkit-scrollbar-thumb {
    background: #88888831; /* Color of the scrollbar */
    border-radius: 4px; /* Round the scrollbar */
}

.column:hover 
::-webkit-scrollbar-thumb {
    background: #888888cd; /* Color of the scrollbar */
    border-radius: 4px; /* Round the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar */
}

.dmViewButtonContainer {
    display: flex;
}

.dmViewButtonContainer .dropdown {
    all: unset;
    position: relative;
    display: inline-block;
}

.dropdown {
    all: unset;
    position: relative;
    display: inline-block;
}

.dmViewButton {
    padding: 1vh 1.5vw;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Dropdown menu items */
.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}